.try
{
    height: 621px;
    padding: 0;
    margin: 0;
    background: rgb(36,33,0);
    background: linear-gradient(315deg, rgba(36,33,0,1) 1%, rgba(2,178,228,1) 21%, rgba(82,9,121,1) 63%, rgba(0,255,222,1) 93%);
} 
.bar
{
    border-radius: 20px;
    border: 5px double #ccc;
    margin-top: 100px;
    width: 380px;
    height: 500px;
    background: white;
}
.InpView
{   
    width: 300px;
    border-radius: 10rem;
    height: 50px;
    
}
#iFName
{
    margin-top: 30px;
}
#itv
{
    margin-top: 25px;
}
#ipv 
{
    margin-top: 25px;
}
input {
    display: block;
    text-align: center;
}
input::-moz-placeholder {
    color: #999999;
    text-align: center;
}
input:-ms-input-placeholder {
    color: #999999;
    text-align: center;
}
input::-webkit-input-placeholder {
    color: #999999;
    text-align: center;
}